.display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 50px;
    margin: 50px 0px;
}

.commonphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .result {
    font-size: 2rem;
    color: #398378;
    font-weight: bold;
} */
.name {
    text-transform: capitalize;
    margin: 20px;
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.progress{
    gap: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.datatext{

    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.statTitle{
    font-size: 33px;
    font-weight: normal;
    color: gray;
    text-transform: uppercase;
}

.prevphoto {}

.nextphoto {}

.image {
    width: 500px;
    height: 500px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.downloadButton {
    margin: 1rem auto;
}