.container{
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: max-content;
    font-size: 25px;
    transition: 0.4s ease;
    background-color: #398378;
    color: white;
  }

  .container:hover {
    box-shadow: 0 0 15px #398378;
  }