.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 30px 10%;



}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 40px;
  padding: 5px;
  padding-left: 0;

}

.img {
  display: flex;
  flex-direction: left;
  border-radius: 30px;
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;

}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}


.desc {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  padding-left: 0;
  text-align: justify;
}

.rating {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;

}

.ratingdetail {
  font-size: 20px;

}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 30px 5%;
  }

  .item {
    gap: 20px; /* Increase the gap between items for better readability */
  }

  .img {
    height: auto; /* Allow the image height to adjust based on its content */
    border-radius: 15px; /* Reduce border-radius for smaller screens */
  }
  .button
  {
  display: flex;;
  align-items: center;
  justify-content: center;
  }

  .title {
    font-size: 30px; /* Decrease font size for smaller screens */
    padding-left: 0;
    font-weight: bold; /* Reset left padding */
  }

  .desc {
    font-size: 20px; /* Decrease font size for smaller screens */
    padding-left: 0; /* Reset left padding */
  }

  .rating {
    flex-direction: column; /* Change direction to column for better stacking */
    align-items: center; /* Align items to the center */
    gap: 5px; /* Reduce the gap between items */
    padding-bottom: 10px; /* Reduce bottom padding */
  }

  .ratingdetail {
    font-size: 18px; /* Decrease font size for smaller screens */
  }
}