.verify-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF0F1;
}
.verify{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f0f7ff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}
.title{
    text-align: left;
    font-family: "Nunito", sans-serif;
    color: black;
}

.verify-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.verify-form-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: black;
}
.input{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4b8b6e;
    padding-left: 0.5rem;
    background: white;
}
.input input {
    border: none;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
  }
.label{
    font-family: "Nunito", sans-serif;
}

.login-button {
    background-color:#4b8b6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
  }


  /* Responsive CSS */
@media only screen and (max-width: 768px) {
    .verify {
      padding: 1.5rem; /* Decrease padding for smaller 
      screens */
      height: 100%;
      width: 100%;
      margin: 1rem; /* Adjust margin for smaller screens */
    }
  
    .verify-form {
      flex-direction: column; /* Change direction to column for smaller screens */
    }
  
    .verify-form-container {
      width: 100%; /* Set container width to 100% for smaller screens */
    }
  
    .input {
      width: 100%; /* Set input width to 100% for smaller screens */
    }
    .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .login-button {
      width: 100%; /* Set button width to 100% for smaller screens */
    }
  }
  