/* green color: #398378 */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a{
  text-decoration: none;
  color: inherit;
}
.container{
  
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}