.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo {
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;

}

.login {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease;
    background-color: rgb(224, 224, 224);
    text-align: center;
}

.login:hover {
    background-color: #398378;
    color: white;
}

.profile-container {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
}

.link {
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.colorizeLink {
    text-decoration: none;
    padding: 0.8rem 1rem;
    background-color: #398378;
    color: white;
    border-radius: 20px;
    transition: 0.4s ease;
}

.colorizeLink:hover {
    box-shadow: 0 0 15px #398378;
}