.container {
    height: 50px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Change direction to column for smaller screens */
      height: auto; /* Allow height to adjust based on content */
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  
    .social {
      margin-top: 1rem; /* Add margin to separate from the text */
      justify-content: center; /* Center social icons horizontally */
    }
  
    .icon {
      height: 15px; /* Decrease icon size for smaller screens */
      width: 15px; /* Decrease icon size for smaller screens */
    }
  }
  